body {
    padding: 0;
    margin: 0;
  }

.navbar {
    background-color: paleturquoise;
}

#desc-text {
    margin-top: 20px;
}

.tableauPlaceholder {
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
}