body {
    padding: 0;
    margin: 0;
    background-color: black;
  }

.navbar {

}

.jumbotron {
    border-radius: 0;
    background-image: url("../../resources/img/cycleview.jpg");
    background-size: 100% 135%;
    height: 600px;
    background-position: center bottom;
}

#desc-text {
    margin-top: 20px;
}

.tableauPlaceholder {
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
}